<div class="row" ng-controller="petsController">
  <div  ng-repeat="pet in petRoster">
    <div class="clearfix visible-lg-block" ng-if="$index % 4 == 0"></div>
    <div class="clearfix visible-md-block" ng-if="$index % 3 == 0"></div>
    <div class="clearfix visible-sm-block" ng-if="$index % 2 == 0"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="petRosterView">
      <div class="row">
        <img class="col-xs-12" ng-src="{{pet.image}}" alt="Pet image of {{pet.name}}" />
      </div>
      <div class="row">
        #{{$index+1}} {{pet.name}} ({{pet.species}}) Age: {{pet.age}}
      </div>
      <div class="row">
          <button class="btn btn-danger" ng-click="deletePet($index)">Remove #{{$index+1}} {{pet.name}}</button>
      </div>
    </div>
  </div> <!-- end ng-repeat -->
</div>
